*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.logo >img{
    width: 80%;
    margin-top: 20px;
}

.navi ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

li{
    margin-top: 40px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

a:hover{
    color: orange;
}
nav ul li a::after{
    content: '';
    margin-top: 20px;
    margin-left: -50px;
    width: 0px;
    height: 5px;
    position: absolute; 
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 60px;
    background-color: orange;
}

/* ICONS */

#src-icon{
    position: relative;
    top: 40px;
}

#stg-icon{
    position: relative;
    top: 40px;
    left: 30px;
}

#prh-icon{
    position: relative;
    top: 40px;
    left: 60px;
}


/* BACKGROUND IMAGE */
.background{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgb(8, 1, 1),rgb(72, 69, 69)), url(images/about-img/about-background.png);
    background-blend-mode: screen;
}

.background>h1{
    font-size: 3rem;
    font-family: 'Tilt Warp', cursive;
    text-align: center;
    padding-top: 150px;
    color: #fff;
}

.background>p{
    margin-left: 680px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}
/* BACKGROUND IMAGE- Ends  */

/* About-us */

.experence{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 150px;
}

.content{
    margin-left: 100px;
    margin-top: 50px;
}

.p{
    color: gray;
}

.content>h2{
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 80px;
}

.content>p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px;
}

.ab>img{
    width: 500px;
    margin-left: 150px;
}

#btn{
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
   background-color: rgb(244, 161, 6);
   padding: 40px 50px 40px 50px;
   border-radius: 10px;
   border: 0;
}

#btn{
    position: absolute;
    top: 800px;
    margin-left:750px ;
}
/* ABOUT-US-ENDS */

/* CLINETS */

.business{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    gap: 200px;
}

.one>h3{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.one>p{
    margin-top: 10px;
    color: rgb(255, 166, 0);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* FURNITURE */

.furniture-images{
    margin-top: 150px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    gap: 100px;
} 
.fur-1>img{
    width: 400px;
}
.fur-1>p{
    font-size: 20px;
    border: 1px solid ;
    margin-right: 290px;
    padding: 15px;
}
.fur-1>p:hover{
    background-color: rgb(255, 166, 0);
    border: 0;
    color: #fff;
    border-radius: 5px;
} 

/* FURNITURE-ends */

/* Footer upside */

 .furniture{
    margin: 150px 0 0 300px;
    display: flex;
    gap: 100px;
}

.fur{
    width: 400px;
    height: 250px;
    border: 2px solid #fff;
    overflow: hidden;
}
.fur>img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.fur>img:hover{
    scale: 1.2;
    transition-duration: 2s;
    opacity: 1;
}
.btn-1{
    width: 8%;
    border: 2px solid;
    padding: 10PX;
    font-size: 20PX;
    position: relative;
    left: 430px;
    top: -150PX;
    text-align: center;
}
.btn-1:hover{
    background-color: rgb(255, 166, 0);
    transition-duration: 2s;
    border-radius: 10px;
    border: 0;
    color: #fff;
}
.btn-2{
    width: 8%;
    border: 2px solid;
    padding: 10PX;
    font-size: 20PX;
    position: relative;
    left: 930PX;
    top: -200PX;
    font-weight: 500;
    text-align: center;
}
.btn-2:hover{
    background-color: rgb(255, 166, 0);
    transition-duration: 2s;
    border-radius: 10px;
    border: 0;
    color: #fff;
}

/* banner */

.banner{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgb(8, 1, 1),rgb(72, 69, 69)), url(images/i-cons/about-img.png);
    background-blend-mode: screen;
    opacity: 1;
    display: grid;
    grid-template-columns: 60% 40%;
}
.ban-con>p{
    margin: 150px 0 0 200px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.ban-con>h2{
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0 0 200px;
    font-size: 40px;
    line-height: 50px;
}
.butt-1{
    margin-left: 200px;
    margin-top: 150px;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #fff;
    color: rgb(255, 166, 0);
}
.butt-1:hover{
    background-color: rgb(255, 166, 0);
    color: #fff;
    transition-duration:1s ;
}

.butt-2{
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 166, 0);
    color: #fff;
}

/* Tie-Up */

.content-tie{
    margin-top: 100px;
}
.content-tie>p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.content-tie>h2{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.tie-up-com-img{
    display: grid;
    grid-template-columns: repeat(5,2fr);
}
.tie-up-com-img>img{
    width: 150px;
    height: 150px;
    margin: 100px 0 0 100px;
}
.tie-up-com-img>img:hover{
scale: 1.5;
transition-duration: 2s;
transition-timing-function: ease;
}

/* footer */

 footer{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

footer li>a:hover{
    padding-left: 30px;
}
h4{
    font-size: 30px;
}

.Information{
    margin-left: 300px;
}  

.Collections{
    margin-left: 80px;

}
.Myaccounts{
    margin-left: -10px;
}
.newslatter{
    margin-left: -130px;
}
#ul{
    line-height: 0px;
} 

.newslatter>button{
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 40px 10px 10px;
    background-color: orange;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

/* sub-footer */

 .sub-footer{
    margin-top: 100px;
    background-color: rgb(231, 234, 235);
    opacity: 0.8;
    width: 100%;
    height: 200px;
}   
 .sub-icons{
    position: relative;
    top: 20px;
    margin-left: 600px;
}
#fb-icon{
    padding: 20px;
}
#fb-icon:hover{
    color: orange;
}
#int-icon{
    padding: 20px;
}
#int-icon:hover{
    color: orange;
}
#ld-icon{
    padding: 20px;
} 
#ld-icon:hover{
    color: orange;
}
#twi-icon{
    padding: 20px;
}
#twi-icon:hover{
    color: orange;
}
#youtube-icon{
padding: 10px;
}
#youtube-icon:hover{
    color: orange;
}
.copyright{
    margin-top: 18px;
    text-align: center;
    word-spacing: 10px;
}
#sub-icon{
    margin-left: 550px;
    margin-top: 30px;
}
#sub-icon:hover{
    color: orange;
} 
.sub-number>p{
    font-size: 25px;
    margin-left: 600px;
    margin-top: -25px;
} 

/* sub-footer ends */