*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.logo >img{
    width: 80%;
    margin-top: 20px;
}

.navi ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

li{
    margin-top: 50px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

a:hover{
    color: orange;
}
nav ul li a::after{
    content: '';
    margin-top: 20px;
    margin-left: -50px;
    width: 0px;
    height: 5px;
    position: absolute; 
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 60px;
    background-color: orange;
}

/* ICONS */

#src-icon{
    position: relative;
    top: 40px;
}

#stg-icon{
    position: relative;
    top: 40px;
    left: 30px;
}

#prh-icon{
    position: relative;
    top: 40px;
    left: 60px;
}

/* NAVBAR-ends */

/* BACKGROUND IMAGE */
.background{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgb(8, 1, 1),rgb(72, 69, 69)), url(images/about-img/about-background.png);
    background-blend-mode: screen;
}

.background>h1{
    font-size: 3rem;
    font-family: 'Tilt Warp', cursive;
    text-align: center;
    padding-top: 150px;
    color: #fff;
}

.background>p{
    margin-left: 680px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}
/* BACKGROUND IMAGE- Ends  */

.image{
    margin-top: 200px;
    width: 50%;
    height: 700px;
}

/* contact */

.con{
    position: relative;
    margin-left: 800px;
    top: -700px;
}

.con>h2{
    font-size: 40px;
    word-spacing: 10px;
}

.con>p{
    margin-top: 20px;
    word-spacing: 3px;
}

button{
    margin-top: 30px;
    padding: 15px 287px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #fff;
}

button:hover{
    background-color: orange;
    border: 0;
    transition-timing-function: ease;
    transition-duration: 2s;
}

#bt{
    font-size: 20px;
    padding: 15px 265px;
}

form{
    position: relative;
    top: -660px;
    margin-left: 800px;
}

.name{
    padding: 15px 70px 15px 10px;
    border-radius: 15px;
    background-color: lightgray;
    font-size: 17px;
}

.company{
    padding: 15px 80px 15px 10px;
    margin-left: 50px;
    border-radius: 15px;
    background-color: lightgray;
    font-size: 17px;
}

.email{
    margin-top: 20px;
    padding: 20px 420px 10px 20px;
    border-radius: 15px;
    background-color: lightgray;
    font-size: 17px;
}

.Phone{
    padding: 15px 70px 15px 10px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: lightgray;
    font-size: 17px;
}

.location{
    margin-top: 20px;
    padding: 15px 80px 15px 10px;
    margin-left: 50px;
    border-radius: 15px;
    background-color: lightgray;
    font-size: 17px;
}


/* popup */

.popupmain{
    position: relative;
    top: -650px;
    margin-left: 800px;
}

.popup{
    position: fixed;
    position: relative;
    top: -1200px;
    width: 400px;
    background-color: rgb(231, 234, 235);
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    position: relative;
    top: 0;
}

.popup img{
    width: 100px;
    height: 100px;
    margin-top: -50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: 15px;
}

.popup p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 30px;
}

.OK{
    padding: 10px 90px 10px 90px;
    border-radius: 0;
    background-color: orange;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

#Subscribe{
    padding: 20px 250px 20px 230px;
    background-color: orange;
    border: 0;
    border-radius: 20px;
    color: #fff;
}

/* maps */
.map{
    margin-top: -700px;
}
/* maps-ENDS */

/* FOOTER */

footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 200px;
}
footer li>a:hover{
    padding-left: 30px;
}

h4{
    font-size: 30px;
}

ul,li{
    list-style: none;
}

li,a{
    text-decoration: none;
    line-height: 0px;
}

a{
    font-size: 20px;
    color: #000;
}

#footer-btn{
    font-size: 15px;
    padding: 10px 40px 10px 15px;
    border-radius: 10px;
    background-color: orange;
    color: #fff;
    border: 0;
}
/* FOOTER ENDS */
.sub-footer{
    margin-top: 100px;
    background-color: rgb(231, 234, 235);
    opacity: 0.8;
    width: 100%;
    height: 200px;
}

.sub-icons{
    position: relative;
    top: 20px;
    margin-left: 600px;
}

#fb-icon{
    padding: 20px;
}

#fb-icon:hover{
    color: orange;
}

#int-icon{
    padding: 20px;
}
#int-icon:hover{
    color: orange;
}

#ld-icon{
    padding: 20px;
}
#ld-icon:hover{
    color: orange;
}

#twi-icon{
    padding: 20px;
}
#twi-icon:hover{
    color: orange;
}

#youtube-icon{
padding: 10px;
}
#youtube-icon:hover{
    color: orange;
}

.copyright{
    margin-top: 20px;
    text-align: center;
    word-spacing: 10px;
}

#sub-icon{
    margin-left: 550px;
    margin-top: 30px;
}

#sub-icon:hover{
    color: orange;
}

.sub-number>p{
    font-size: 25px;
    margin-left: 600px;
    margin-top: -25px;
}