*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.logo >img{
    width: 80%;
    margin-top: 20px;
}

.navi ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

li{
    margin-top: 40px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

a:hover{
    color: orange;
}

nav ul li a::after{
    content: '';
    margin-top: 20px;
    margin-left: -50px;
    width: 0px;
    height: 5px;
    position: absolute; 
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 60px;
    background-color: orange;
}
/* ICONS */

#src-icon{
    position: relative;
    top: 40px;
}

#stg-icon{
    position: relative;
    top: 40px;
    left: 30px;
}

#prh-icon{
    position: relative;
    top: 40px;
    left: 60px;
}

/* NAVBAR-ENDS */

/* BACKGROUND IMAGE */
.background{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgb(8, 1, 1),rgb(72, 69, 69)), url(images/about-img/about-background.png);
    background-blend-mode: screen;
}

.background>h1{
    font-size: 3rem;
    font-family: 'Tilt Warp', cursive;
    text-align: center;
    padding-top: 150px;
    color: #fff;
}

.background>p{
    margin-left: 680px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}
/* BACKGROUND IMAGE- Ends  */

/* Service Main */

.main{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 100px;
    margin-left: 200px;
}

.main-content{
    margin-top: 20px;
}

.main-content p:first-child{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.main-content>h2{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}
.main-content>ul{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}
span{
    color: rgb(244, 161, 6);
}
button{
    font-size: 20px;
    padding: 15px;
    margin-top: 50px;
    color: #fff;
    background-color: rgb(244, 161, 6);
    border: 0;
    border-radius: 10px;
}
/* SERVICE PAGE-ENDS */

 /* WHAT WE OFFER  */

.what-we-offer{
    margin-top: 150px;
    width: 100%;
    height: 700px;
    background-color: lightgray;
 }
.what-we-offer-content{
    text-align: center;
}
.what-we-offer-content>p{
    position: relative;
    top: 100px;
    color: rgb(53, 52, 52);
    font-family: 'Open Sans', sans-serif;
}
.what-we-offer-content>h3{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: 120px;
}
.box{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin-top: 150px;
    margin-left: 150px;   
}
.con{
    margin-top: 50px;
    background-color: #fff;
    width: 300px;
    height: 130px;
    border-radius: 10px;
}
.con:hover{
    scale: 1.3;
    transition-duration: 2s;
    background: linear-gradient(hotpink,cyan);
}
h2{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.con>p{
    text-align: center;
    padding-top: 10px;
}

 /* WHAT WE OFFER-ENDS  */

 /* container */

 .container-main{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 180px;
    margin-top: 150px;
 }
 .container-1>img{
    width: 350px;
    height: 250px;
 }
 .container-1>h2{
    font-size: 20px;
}
 .container-1>h2:hover{
    color: rgb(244, 161, 6);
}
 .container-1>p{
    margin-top: 10px;
    line-height: 18px;
}

footer{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

h4{
    font-size: 30px;
}


.Information{
    margin-left: 300px;
}  

.Collections{
    margin-left: 80px;

}

.Myaccounts{
    margin-left: -10px;
}

.newslatter{
    margin-left: -130px;
}

#ul{
    line-height: 0px;
} 

/* sub-footer */

.sub-footer{
    margin-top: 100px;
    background-color: rgb(231, 234, 235);
    opacity: 0.8;
    width: 100%;
    height: 200px;
} 


/* sub-footer */
.sub-icons{
    position: relative;
    top: 20px;
    margin-left: 600px;
}

#fb-icon{
    padding: 20px;
}

#fb-icon:hover{
    color: orange;
}

#int-icon{
    padding: 20px;
}
#int-icon:hover{
    color: orange;
}

#ld-icon{
    padding: 20px;
} 
#ld-icon:hover{
    color: orange;
}

#twi-icon{
    padding: 20px;
}
#twi-icon:hover{
    color: orange;
}

#youtube-icon{
padding: 10px;
}
#youtube-icon:hover{
    color: orange;
}

.copyright{
    margin-top: 18px;
    text-align: center;
    word-spacing: 10px;
}

#sub-icon{
    margin-left: 550px;
    margin-top: 30px;
}

#sub-icon:hover{
    color: orange;
} 

.sub-number>p{
    font-size: 25px;
    margin-left: 600px;
    margin-top: -25px;
} 

/* sub-footer ends */
